*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: url(images/body-background.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.window{
    width: 80%;
    max-width: 1280px;
    height: 76%;
    max-height: 720px;
    background: linear-gradient(to bottom, #5B8CBF, #A3C0E8);
    border-radius: 12px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.4);
    overflow: hidden;
    position: relative;
    border: 1px solid;
    border-color: #D1D1D1;
}

.window-header{
    height: 45px;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 20px;
    position: relative;
    border-bottom: 1px solid;
    border-color: #D1D1D1;
}

.btn{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.close{
    background: #FF5F57;
}

.minimize{
    background: #FFBD2E;
}

.maximize{
    background: #28C840;
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 4px;
    left: 50%;
    border: 1px solid;
    border-color: #aeaeb2;
    transform: translateX(-50%);
    border-radius: 5px;
    height: 25px;
    width: 450px;
    margin: auto;
    text-align: center;
    font-size: 14px;
    color: #444446;
    line-height: 24px
}

.name-h1{
    position: absolute;
    margin-left: 20px;
    top: 70%;
}

.name-p{
    position: absolute;
    top: 55%;
    font-size: 28px;
    color: #d9e2ec;
    margin-right: 60vh;
    margin-left: 2vh;
}

.menu-bar{
    width: 300px;
    height: 35px;
    border-radius: 50px;
    background-color: #1C1C1E;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1vh;
    box-shadow: 0 2px 3px rgba(28,28,30,0.4);
}

.items{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.items button{
    background-color: transparent;
    border: none;
    padding: 6px;
    border-radius: 50px;
    font-size: 16px;
    color: #636366;
    font-weight: bold;
    transition: background-color 0.2s linear;
    transition: color 0.2s linear;
}

.items button:hover{
    cursor: pointer;
    color: #F2F2F7;
    background-color: #3E7BFA;
}